header.bar.bar-nav
  button.btn.btn-link.btn-nav.pull-left
    span.icon.icon-left-nav
    | Left
  button.btn.btn-link.btn-nav.pull-right
    | Right
    span.icon.icon-right-nav
  h1.title Title
nav.bar.bar-tab
  a.tab-item.active(href='#')
    span.icon.icon-home
    span.tab-label Home
  a.tab-item(href='#')
    span.icon.icon-person
    span.tab-label Profile
  a.tab-item(href='#')
    span.icon.icon-star-filled
    span.tab-label Favorites
  a.tab-item(href='#')
    span.icon.icon-search
    span.tab-label Search
  a.tab-item(href='#')
    span.icon.icon-gear
    span.tab-label Settings
